<%= @sentence_datum.id %>.<br>
・<span class="english_sentence" id="english_sentence" style="color: red; display: none;"><%= @sentence_datum.english_sentence %></span><br>
・<input class="form-text" id="form-text" type="text" autofocus><br>
・<%= @sentence_datum.japanese_sentence %><br>
<button id='answer_button' style="visibility: visible;">答える</button>

<script>
$('#answer_button').click(function(){
  if ($("#form-text").val() === '<%= @english_sentence_another.html_safe %>') {
    $.post('/lessons/'+<%= @sentence_status.lesson_id %>+'/sentence_statuses/'+<%= params[:id] %>+'/ttoggle');
    alert('正解!!!!');
    $.get('/lessons/'+<%= @sentence_status.lesson_id %>+'/sentence_statuses/'+<%= params[:id] %>+'/next');
  } else {
    $.post('/lessons/'+<%= @sentence_status.lesson_id %>+'/sentence_statuses/'+<%= params[:id] %>+'/ftoggle');
    alert('不正解');
    $("#english_sentence").css("display","inline-block");
    $("#answer_button").css("visibility","hidden");
  }
});

$('#form-text').on("keydown", function(e) {
  if(e.keyCode === 13 && $("#answer_button").css("visibility") == "visible") {
    $('#answer_button').trigger("click");
  }
});

$(window).keyup(function(){
  if ($("#form-text").val() === '<%= @english_sentence_another.html_safe %>' && $("#answer_button").css("visibility") == "hidden") {
    $.get('/lessons/'+<%= @sentence_status.lesson_id %>+'/sentence_statuses/'+<%= params[:id] %>+'/next');
  }
});
</script>