<%= @sentence_datum.id %>.<br>
・<span class="english_sentence"><%= @sentence_datum.english_sentence %></span><br>
・<input class="form-text" id="form-text" type="text" autofocus><br>
・<%= @sentence_datum.japanese_sentence %><br>


<script>
$(window).keyup(function(){
  if ($("#form-text").val() === '<%= @english_sentence_another.html_safe %>') {
    if (<%= params[:id] %> % 10 != 0) {
      window.location.href = "http://localhost:3000/sentence_data/"+<%= (params[:id].to_i + 1).to_s %>;
    } else {
      window.location.href = "http://localhost:3000";
    }
  }
});
</script>