<%= @sentence_datum.id %>.<br>
・<%= @sentence_datum.english_sentence %><br>
・{{sentence}}<br>
・<%= @sentence_datum.japanese_sentence %><br>
<input type="text" ng-model="sentence">
<div id="hoge" ng-show="sentence == '<%= @sentence_datum.english_sentence %>'">一致！([Enter]で次)</div>


<script>
$(document).ready(function(){
  $(window).keydown(function(){
    if ($('#hoge').css('display') == 'block') {
      $.post('/sentence_data/'+<%= params[:id] %>+'/next_movement');
      console.log(location);
    }
  });
});
</script>